@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.sec_project_wrap section.sec_kv {display: flex;justify-content: center; }
.sec_kv .kv_container .text_box{font-size: 180px; font-weight: 900; line-height: 215px; color: #0504AF;}
.sec_kv .kv_container .text_box p{ margin: 0; opacity: 0; visibility: hidden; letter-spacing: -8.24px; }
.sec_kv .kv_container .text_box p.animated-text{ opacity: 1; transition: opacity 0.5s ease; }
.sec_kv .kv_container .text_box p span{ display: inline-block; opacity: 0; transform: translateY(100%); transition: opacity 0.5s ease, transform 0.5s ease; letter-spacing: -8.24px; }
.sec_kv .kv_container .text_box p .text_icon{display: inline-block; width: 127px; height: 127px; margin-left: 23px; background: url('/images/kv/text_icon.png') no-repeat center/contain;}
.sec_kv .kv_container .text_box p.light_text{font-weight: 100;}
.sec_kv .kv_container .text_box p.description_text{position: relative;}
.sec_kv .kv_container .text_box p.description_text::after{content: 'BeHind :\A Where Innovation Meets Art in\A Superior Web Solutions'; position: absolute; top: 50%; transform: translateY(-50%); right: 98px; width: 285px; height: 84px; font-size: 16px; font-weight: 500; line-height: 28px; white-space: pre; letter-spacing: initial; color: #0D0D31;}
.sec_kv .kv_container .text_box p.text_margin span:first-of-type{margin-right: 590px;}
.sec_kv .kv_container .text_box p.text_padding span:last-of-type{padding-left: 467px;}
/* .sec_kv .kv_container .text_box .text_padding01{padding-left: 591px;} */
/* .sec_kv .kv_container .text_box .text_padding02{padding-right: 467px;} */