@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.sec_project_wrap section.sec_kv { display: flex;justify-content: center; margin: 0 auto; }
.sec_project_wrap section.sec_kv .kv_container { width: 100%; }
.sec_kv .kv_container .text_box.animate_box{ margin-bottom: 100px; font-size: 180px; font-weight: 900; line-height: 215px; color: #0504AF;}
.sec_kv .kv_container .text_box.animate_box p{ display: flex; align-items: center; margin: 0; opacity: 0; visibility: hidden; letter-spacing: -8.24px; }
.sec_kv .kv_container .text_box.animate_box p.animated-text{ opacity: 1; transition: opacity 0.5s ease; }
.sec_kv .kv_container .text_box.animate_box p span{ display: inline-block; opacity: 0; transform: translateY(100%); transition: opacity 0.5s ease, transform 0.5s ease; letter-spacing: -8.24px; }
.sec_kv .kv_container .text_box.animate_box p .text_icon{ display: inline-block; width: 127px; height: 127px; margin-left: 23px; }
.sec_kv .kv_container .text_box.animate_box p.light_text{ font-weight: 100; }
.sec_kv .kv_container .text_box.animate_box p.description_text{ position: relative; }
.sec_kv .kv_container .text_box.animate_box p.description_text::after{ content: 'BeHind :\A Where Innovation Meets Art in\A Superior Web Solutions'; position: absolute; top: 50%; transform: translateY(-50%); right: 98px; width: 285px; height: 84px; font-size: 16px; font-weight: 500; line-height: 28px; white-space: pre; letter-spacing: initial; color: #0D0D31; }
.sec_kv .kv_container .text_box.animate_box p.text_margin span:first-of-type{ margin-right: 590px; }
.sec_kv .kv_container .text_box.animate_box p.text_padding span:last-of-type{ padding-left: 467px; }

.sec_kv .kv_container .visual_box { display: flex; justify-content: space-between; padding: 0 15px; padding-top: 150px; margin-bottom: 69px; }
/* .sec_kv .kv_container .visual_box .img_box.handelScroll { transform: translateY(0); } */
.sec_kv .kv_container .visual_box .img_box img { width: 100%;}
.sec_kv .kv_container .visual_box .img_box.visual01 { width: 359px; }
.sec_kv .kv_container .visual_box .img_box.visual02 { width: 230px; }
.sec_kv .kv_container .visual_box .img_box.visual03 { width: 488px; }
.sec_kv .kv_container .visual_box .img_box.visual04 { width: 359px; }

.sec_kv .kv_container .text_box{}
.sec_kv .kv_container .text_box .subtitle{ font-size: 8.125em; color: #0504AF; }
.sec_kv .kv_container .text_box .subtitle strong{ font-weight: 900; }

@media screen and  (max-width: 1520px) {
  .sec_kv .kv_container .text_box.animate_box{  font-size: 150px; }
}